#top-menu{
  width:100%;
  height:150px;
}


.sticky-top.stick{
  margin-top: 0 !important;
  position: fixed !important;
  top: 0;
  z-index: 10000;
}
/*classes for photo background slideshow*/
.bgPhotos, .photoCaptions{
  position:absolute;
  width:100%;
  max-height:250px;
  height:250px;
  overflow-y: hidden;
  top:0px;
  left:0px;
}
.projPhoto{
  display: block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
.photoOverlay{
  position:relative;
  height:250px;
  max-height:250px;
  vertical-align: bottom;
  color:grey;
  background-color: rgba(40,40,40,0.7);
  background:linear-gradient(0deg, rgba(0,0,0,0), rbga(40,40,40,0.9))
}