#top-menu{
  width:100%;
  height:150px;
}


.sticky-top.stick{
  margin-top: 0 !important;
  position: fixed !important;
  top: 0;
  z-index: 10000;
}
/*classes for photo background slideshow*/
.bgPhotos{
  position:relative;
  width:100%;
}
.projPhoto{
  position:absolute;
}
.photoOverlay{
  padding-top:150px;
  position:relative;
  height:300px;
  vertical-align: bottom;
  color:grey;
  background-color: rgba(40,40,40,0.9);
  background:linear-gradient(0deg, rgba(0,0,0,0), rbga(40,40,40,0.9))
}
.projectTilePhoto {
  width:100%;
  height:400px;
  z-index:1;
  left:0px;
  top:0px;  
  background-repeat: no-repeat;
  background-color: rgba(40,40,40,0.4);
  background-size: cover;
}