#top-menu{
  width:100%;
  height:150px;
}


.sticky-top.stick{
  margin-top: 0 !important;
  position: fixed !important;
  top: 0;
  z-index: 10000;
}
/*classes for photo background slideshow*/
.bgPhotos{
  position:relative;
  width:100%;
}

.projectTilePhoto {
  max-width:100%;
  z-index:1;
  position:absolute;
  left:0px;
  top:0px;
}