
<div class="row softPadding">
  <div class="col-xs-4 socialButtons">
    <% socialMediaSites.forEach(function(site){ %>
      <% include socialbutton %>
    <% }) %>
  </div>
  <div class="col-xs-8 footerContent" style="text-align:right;">
    copyright ian cullimore
  </div>
</div>
<div id="scrollToTop">
  return to top
</div>