
  <div class="row" style="padding:8px;">
    <div class="col-sm-6 socialButtons">
      <% socialMediaSites.forEach(function(site){ %>
        <% include socialbutton %>
      <% }) %>
    </div>
    <div class="col-sm-6 footerContent" style="text-align:right;">
      copyright ian cullimore
    </div>
  