  <div id="loading-bar"></div>
  <div class="row nav-bar softPadding">
    <div class="col-sm-5 col-xs-10">
      <div id="logo-container" style="display:table-cell">
        <a href="/">
          <img src="/photos/<%= conf.logourl %>" width="95" height="60" alt="<%= conf.logoalttext %>"/>
        </a>
        <span id="siteIdentifier">ian<strong>cullimore</strong>design</span>
        
      </div>
    </div>
    <div class="col-sm-7 hidden-xs" style="padding:0px;">
      <div id="top-menu" class="nav-menu-container">
        <ul class="nav-menu ">
          <% menuitems.forEach(function(menuitem){ %>
            <% include ./menuitem %>
          <%})%>
        </ul>
      </div>
    </div>
    
    <div id="mobileMenuContainer" class=" col-xs-2 hidden-md hidden-sm hidden-lg mobileMenuContainer">
      <div id="mobileMenu">
        <button aria-hidden="true" id="mobileMenuButton" class="btn btn-default">
          <i class="fa fa-bars"></i>
        </button>
        <nav id="mobileDropDown">
          <% menuitems.forEach(function(menuitem){ %>
            <% include ./mobilemenuitem %>
          <% }) %>
        </nav>
      </div>
    </div>
  </div>