<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div id="logo-container">
        <a href="/"><img src="/photos/<%= conf.logourl %>" width="150" height="110" alt="<%= conf.logoalttext %>"/></a>
      </div>
    </div>
    <div class="col-sm-9">
      <div id="top-menu" class="nav-menu-container">
        <ul class="nav-menu ">
          <li>
            <a href="/resume">
              <div class="nav-hover-container">
                <div class="nav-hover-left"></div>
                <div class="nav-hover-right"></div>
                <div class="nav-link">Resume</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>