<li>
  <a href="<%=menuitem.url%>">
    <div class="nav-hover-container">
      <div class="nav-hover-left"></div>
      <div class="nav-hover-right"></div>
      <div class="nav-link"><%=menuitem.text%></div>
    </div>
  </a>
</li>