<% if(site.url){ %> 
  <a href="<%= site.url %>" target="_blank" style="text-decoration:none;color: darkslategrey;display:inline-block;">
    <i class="fa fa-<%= site.iconname %>" aria-hidden="true"></i>
  </a>
<% } %>