<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Log In</title>
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->
    <!--inject:js-->
    <script src="/js/script.js"></script>
    <!--endinject-->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <h1>Log In</h1>
          <form name="loginForm" action="/signIn" method="post">
            <div class='form-group'>
              <label>Username</label>
              <input class='form-control' type='text' placeholder='Username' value='' name='username'>
            </div>
            
            <div class='form-group'>
              <label>Password</label>
              <input class='form-control' type='password' placeholder='Password' value='' name='password'>
            </div>
            <input type="submit" class="btn btn-primary" value="Log In">
          </form>
        </div>
      </div>
    </div>
    <footer>
      Footer
    </footer>
  </body>
</html