<div class="row softPadding justify-content-center featuredProjects">
  <% if(projects && projects.length){ %> 
    <% for(var i = 0; i < projects.length; i++){ %> 
      <% var project = projects[i]; %>
      <% include ./projecttile %>
    <%}%>
  <%}%>
</div>
<div class="row">
  <div class="col-sm-12 softPadding" style="text-align:right;">
    <a id="showMoreProjButton" >
      Show more work
    </a>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('#showMoreProjButton').click(function(event){
      event.preventDefault();
      $.get('/proj/nonfeatured', null, function(response){
        $('.featuredProjects').append(response.htmlString);
        $('#showMoreProjButton').hide();
        addProjectTileHover();
      })
    });
  });
</script>