<div id="bannerPhoto">
  <h3>Banner Photo</h3>
  <div class="row">
    <div class="col-sm-10">
      <img src="/photos/<%=bannerPhoto.url%>" style="max-width:100%;">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-danger btn-xs"
        onclick="deletePhoto(<%= bannerPhoto.photoid %>)">Delete</button>
    </div>
  </div>
</div>