<form class="photo-form" action="/admin/savephoto" enctype="multipart/form-data">
  <div class='form-group'>
    <label>Photo</label>
    <input class='form-control' type='file' name='photo'>
  </div>
  <div class='form-group'>
    <label>Title</label>
    <input class='form-control' type='text' value='<%= photo.title %>' name='title'>
  </div>
  <div class='form-group'>
    <label>Caption (brief description)</label>
    <input class='form-control' type='text'  value='<%= photo.caption %>' name='caption'>
  </div>
  <div class='form-group'>
    <label>Description (long)</label>
    <textarea name="description" class="form-control"></textarea>
  </div>
  <div class='form-group'>
    <label>Role</label>
    <select name="type" class="form-control">
      <option value="Tile">Tile</option>
      <option value="Banner">Banner</option>
    </select>
  </div>
  <input type="submit" class="btn btn-primary" value="Save Photo">
</form>